
<body>
    <header>
        <h3>Hooked on Yarn</h3>
        <div>

        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Compose</a></li>
            </ul>
        </nav>
    </header>
</body>
