<%- include("partials/header"); -%>
<h1>About</h1>
<p> Welcome to "Hooked on Yarn" – a cozy corner of the internet dedicated to the art of crocheting. Here, we'll explore the wonderful world of yarn, hooks, and creativity. Whether you're a seasoned crocheter or a complete beginner, there's something here for everyone. Join me as we embark on a journey through the stitches, patterns, and projects that make crocheting a truly special craft</p>
<%- include("partials/footer"); -%>