<%- include("partials/header"); -%>
<h1>Contact</h1>
<main>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio inventore, repellendus animi dignissimos pariatur quo expedita deserunt enim autem cupiditate? Dolor dolorem iste repellat corrupti, reprehenderit nemo tenetur ut dolore?</p>
</main>

<%- include("partials/footer"); -%>