<body>
    <main>
        <section class="featured-post-container">
            <div class="featured-post">
                <div class="featured-text">
                   <h4>Featured</h4>
                <h3>
                    Mastering the Basics: A Beginner's Guide to Crochet
                </h3>
                <p>
                    Welcome to the wonderful world of crochet! If you're just starting out on this creative journey, you're in for a treat. 
                <a href="/featuredPost">Read More</a> 
                </div>
                
    
                    <img src="/images/rocknwool.jpg"/>
    
            </div>
            <div class="featured-post">
                <div class="featured-text">
                   <h4>Featured</h4>
                <h3>
                    Mastering the Basics: A Beginner's Guide to Crochet
                </h3>
                <p>
                    Welcome to the wonderful world of crochet! If you're just starting out on this creative journey, you're in for a treat. 
                <a href="/featuredPost">Read More</a> 
                </div>
                
    
                    <img src="/images/rocknwool.jpg"/>
    
            </div> 
        </section>
        <section class="posts-container">
            <div class="posts">
                <div class="post-text">
                <h3>
                    Mastering the Basics: A Beginner's Guide to Crochet
                </h3>
                <p>
                    Welcome to the wonderful world of crochet! If you're just starting out on this creative journey, you're in for a treat. 
                <a href="/featuredPost">Read More</a> 
                </div>
                <div class="post-text">
                <h3>
                    Mastering the Basics: A Beginner's Guide to Crochet
                </h3>
                <p>
                    Welcome to the wonderful world of crochet! If you're just starting out on this creative journey, you're in for a treat. 
                <a href="/featuredPost">Read More</a> 
                </div>
                <div class="post-text">
                <h3>
                    Mastering the Basics: A Beginner's Guide to Crochet
                </h3>
                <p>
                    Welcome to the wonderful world of crochet! If you're just starting out on this creative journey, you're in for a treat. 
                <a href="/featuredPost">Read More</a> 
                </div>
                <div class="post-text">
                <h3>
                    Mastering the Basics: A Beginner's Guide to Crochet
                </h3>
                <p>
                    Welcome to the wonderful world of crochet! If you're just starting out on this creative journey, you're in for a treat. 
                <a href="/featuredPost">Read More</a> 
                </div>
              
               
            </div>
            <aside class="other-posts">
                <div>
                    <h4>
                    About
                </h4>
                <p>
                    Just a newcomer sharing her crochet journey with you. Here's a quick rundow of how it all happened.
                </p>
                </div>
                <div>
                    <h4>Recent Posts</h4>
                    <p>
                        <a href="/featuredPost">Mastering the Basics: A Beginner's Guide to Crochet</a>
                    </p>
                    <p>
                        <a href="/featuredPost">Mastering the Basics: A Beginner's Guide to Crochet</a>
                    </p>
                    <p>
                        <a href="/featuredPost">Mastering the Basics: A Beginner's Guide to Crochet</a>
                    </p>
                    <p>
                        <a href="/featuredPost">Mastering the Basics: A Beginner's Guide to Crochet</a>
                    </p>
                    <p>
                        <a href="/featuredPost">Mastering the Basics: A Beginner's Guide to Crochet</a>
                    </p>
                    <p>
                        <a href="/featuredPost">Mastering the Basics: A Beginner's Guide to Crochet</a>
                    </p>
                    <p>
                        <a href="/featuredPost">Mastering the Basics: A Beginner's Guide to Crochet</a>
                    </p>
                    <p>
                        <a href="/featuredPost">Mastering the Basics: A Beginner's Guide to Crochet</a>
                    </p>
                </div>
            </aside>
        </section>
    </main>
</body>