<%- include("partials/header"); -%>
 </head>
<body>
    <main>
        <section id="hero-section">
            <div class="hero-container">
                <h1>A Journey Through Crochet Creations</h1>
               
                
            </div>
        </section>
        <section id="post-section">
            <%- include('post.ejs') %>
        </section>        
    </main>

</body>
<!-- /* color: #FFFBF5; */ -->