html{
    padding: 0;
}
body{
    /* background-color: #FFFBF5; */
    /* height: 100%; */
    margin: 0;
    font-family: sans-serif;
}

main{
    max-width: 1080px;
    align-content: center;
    margin: 0 auto;
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFD3D7;
    padding: 0  1rem 0 1rem;
    margin: 0;
}

.logo{
    gap: 1rem;
    max-width: 200px;
    margin: 0;
}

header h3{
    text-wrap: wrap;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}


.nav-bar{
    
    justify-content: center;
}

.nav-bar ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    
}

.nav-bar a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    display: block;
}

.nav-bar a:hover{
    color: #CBC0D3;
}

.hero-container{
    /* position: relative;  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    margin: 0;
    background-image: url("/images/oscar-helgstrand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: blur(1px); */

}

.hero-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 210, 222, 0.21);
    filter: blur(52px); 
}



.hero-container h1{
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 1;
    color: white;
    font-family:  'Trebuchet MS', cursive;
}


.hero-container p {
    max-width: 400px;
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 1;
    color: white;
    /* text-shadow: 2px 2px #717987; */
}

.hero-container .highlight{
    color: #8E9AAF;
    /* text-shadow: 2px 2px #717987; */
}

.featured-post-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.featured-post{
    border-width: 1px;
    border-color: #b0b0b0;
    border-radius: 5px;
    border-style: solid;
    max-width: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1.2rem;
    margin-top: 2rem;
    background-color: white;

}

.featured-post img{
    width: 50%;
    padding-left: 1.2rem;
    border-radius: 5px;
}

.posts-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;

}

.posts{
   max-width: 800px;
}

.other-posts {
    flex: 1;
    width: 330.305px;
}

.form{
    margin: 10rem auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

.name,.message{
    padding: 12px;
    border: 1px solid #EFD3D7;
    border-radius: 5px;
  }
  
.btn{
    padding: 12px;
    border: 1px solid #EFD3D7;
    border-radius: 5px;
    background-color: #EFD3D7;
    color: white;
    font-weight: bold;
    /* cursor: pointer; */
    transition: all 0.3s ease;

  }
  
.btn:active{
    transform: scale(0.98);

  }

.footer-padding {
	padding-bottom: 60px;
}


.footer {
    /* z-index: 10; */
	position: fixed;
    /* margin-top: auto; */
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:  #EFD3D7;
    color: white;
    text-align: center;
}




.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
    font-weight: bold;
    font-family:  'Trebuchet MS', cursive;

    
}
